.character-card {
  border: 2px solid transparent;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  transition: transform 0.2s ease, border-color 0.2s ease;
  cursor: pointer;
}

.character-card:hover {
  transform: scale(1.03);
  border-color: #ccc;
}

.selected-character {
  border-color: #007bff;
  color:red;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
  transform: scale(1.05);
}