<div class="landing-page">
  <h1 class="title">Welcome to the Game Hub</h1>

  <div class="game-grid">
    <div class="game-card">
      <h2>Twenty-Five</h2>
      <button routerLink="/twentyfive">Play 25</button>
    </div>

    <div class="game-card">
      <h2>Guess Who</h2>
      <button routerLink="/guesswho">Play Guess Who</button>
    </div>    
    
    
    <!-- <div class="game-card">
      <h2>Tic Tac Toe</h2>
      <button routerLink="/tictactoe">Play Tic Tac Toe</button>
    </div> -->

    <div class="game-card">
      <h2>Quiz Game</h2>
      <button routerLink="/quizgame">Play Quiz</button>
    </div>

    <div class="game-card">
      <h2>Risk Board Game</h2>
      <button routerLink="/risk">Play Risk</button>
    </div>
  </div>
</div>
