.container {
  display: flex;
  gap: 1.5rem;
  justify-content: space-around;
  margin-top: 2rem;
}

.card {
  background-color: #292929;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #f5f5f5;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.scoreboard {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.player-card-container {
  flex: 1 1 250px;
  max-width: 300px;
  display: flex;
  justify-content: center;
}